# Get available vessel types, vessel classes, vessels

Get your personal Signal Ocean API subscription key (acquired [here](https://apis.signalocean.com/profile)) and replace it below:

In [1]:
signal_ocean_api_key = '' # replace with your subscription key

## Setup

In [9]:
%%capture
!pip install signal-ocean
from signal_ocean import Connection
from signal_ocean.voyages import VoyagesAPI
from signal_ocean.voyages import Vessel, VesselFilter
from signal_ocean.voyages import VesselType, VesselTypeFilter
from signal_ocean.voyages import VesselClass, VesselClassFilter
import pandas as pd

In [10]:
connection = Connection(signal_ocean_api_key)
api = VoyagesAPI(connection)

## Vessel Filter Functions

In [33]:
def get_vessel_types(name_like = None):
    
    if name_like:
        vessel_types = api.get_vessel_types(VesselTypeFilter(name_like))
    else:
        vessel_types = api.get_vessel_types()
    return pd.DataFrame(v.__dict__ for v in vessel_types) 

def get_vessel_classes(name_like = None):
    
    if name_like:
        vessel_classes = api.get_vessel_classes(VesselClassFilter(name_like))
    else:
        vessel_classes = api.get_vessel_classes()
    return pd.DataFrame(v.__dict__ for v in vessel_classes) 

def get_vessels(name_like = None):
    
    if name_like:
        vessels = api.get_imos(VesselFilter(name_like))
    else:
        vessels = api.get_imos()
    return pd.DataFrame(v.__dict__ for v in vessels)

## Results

### VesselTypes

#### Get all avalable vessel types

In [27]:
get_vessel_types()

   vessel_type_id vessel_type
0               1      Tanker
1               3         Dry
2               6         LPG

#### Get avalable vessel types using VesselTypeFilter

In [28]:
get_vessel_types('Tank')

   vessel_type_id vessel_type
0               1      Tanker

### VesselClasses

#### Get all avalable vessel classes

In [29]:
get_vessel_classes()

    vessel_class_id vessel_class_name  vessel_type_id vessel_type
0                60              VLGC               6         LPG
1                61       Midsize/LGC               6         LPG
2                69              VLOC               3         Dry
3                70          Capesize               3         Dry
4                72      Post Panamax               3         Dry
5                74           Panamax               3         Dry
6                84              VLCC               1      Tanker
7                85           Suezmax               1      Tanker
8                86           Aframax               1      Tanker
9                87           Panamax               1      Tanker
10               88               MR2               1      Tanker
11               89               MR1               1      Tanker

#### Get avalable vessel classes using VesselClassFilter

In [30]:
get_vessel_classes('max')

   vessel_class_id vessel_class_name  vessel_type_id vessel_type
0               72      Post Panamax               3         Dry
1               74           Panamax               3         Dry
2               85           Suezmax               1      Tanker
3               86           Aframax               1      Tanker
4               87           Panamax               1      Tanker

In [31]:
get_vessel_classes('Afra')

   vessel_class_id vessel_class_name  vessel_type_id vessel_type
0               86           Aframax               1      Tanker

### Vessels

#### Get all avalable vessels

In [35]:
get_vessels()

           imo           vessel_name
0      5137767   Captain H.A.Downing
1      5243009          Mount Vernon
2      5330412                   Nio
3      6329044            Petersburg
4      6407585      Mount Washington
...        ...                   ...
13699  9935454       Rich Rainforest
13700  9935466            Benefactor
13701  9936240         Emerald Putuo
13702  9939072     Forte Sao Marcelo
13703  9939084  Forte Dos Reis Magos

[13704 rows x 2 columns]

#### Get avalable vessels using VesselFilter

In [34]:
get_vessels('Signal')

       imo   vessel_name
0  9412036  Signal Alpha
1  9773923   Signal Maya