# Voyages API Example

## Setup
Install the Signal Ocean SDK:
```
pip install signal-ocean
```
Set your subscription key acquired here: https://apis.signalocean.com/profile

In [ ]:
pip install signal-ocean

In [1]:
signal_ocean_api_key = '' #replace with your subscription key

## Call the Voyages API
The Voyages API retrieves information about vessel voyages.

In [2]:
from signal_ocean import Connection
from signal_ocean.voyages import VoyagesAPI
import pandas as pd
from datetime import date, timedelta

In [3]:
connection = Connection(signal_ocean_api_key)
api = VoyagesAPI(connection)

### Get voyages for vessel

In [4]:
vessel_voyages = api.get_voyages(imo=9292187)

In [5]:
vessel_voyages_df = pd.DataFrame([v.__dict__ for v in vessel_voyages])
vessel_voyages_df.tail(5)

,imo,voyage_number,vessel_type_id,vessel_class_id,vessel_status_id,commercial_operator_id,deleted,events,id,vessel_name,...,cargo_group,cargo_type_source,quantity,laycan_from,laycan_to,fixture_status_id,fixture_status,fixture_date,fixture_is_coa,fixture_is_hold
48,9292187,49,1,84,1,1684,False,"(VoyageEvent(id=None, port_id=3317, voyage_id=...",9292187.49,Seaking,...,Dirty,Estimated,NaN,2020-04-25 03:47:05+00:00,2020-04-26 03:47:05+00:00,1.0,FullyFixed,2020-03-19 03:42:23+00:00,False,False
49,9292187,50,1,84,1,1713,False,"(VoyageEvent(id=None, port_id=6615, voyage_id=...",9292187.50,Seaking,...,Dirty,Estimated,NaN,2020-06-01 03:57:15+00:00,2020-06-02 03:57:15+00:00,1.0,FullyFixed,2020-05-26 17:49:57+00:00,True,True
50,9292187,51,1,84,1,1713,False,"(VoyageEvent(id=None, port_id=3317, voyage_id=...",9292187.51,Seaking,...,Dirty,MarketInfo,270000.0,2020-10-16 00:00:00+00:00,2020-10-18 23:59:00+00:00,1.0,FullyFixed,2020-10-07 13:08:52+00:00,True,False
51,9292187,52,1,84,1,1713,False,"(VoyageEvent(id=None, port_id=6649, voyage_id=...",9292187.52,Seaking,...,Dirty,MarketInfo,260000.0,2021-02-02 00:00:00+00:00,2021-02-02 00:00:00+00:00,1.0,FullyFixed,2021-01-12 13:45:27.563000+00:00,False,False
52,9292187,53,1,84,1,1713,False,"(VoyageEvent(id=None, port_id=3532, voyage_id=...",9292187.53,Seaking,...,Dirty,MarketInfo,270000.0,2021-04-08 00:00:00+00:00,2021-04-08 00:00:00+00:00,1.0,FullyFixed,2021-03-23 12:57:56+00:00,False,False

In [6]:
vessel_events_df = pd.DataFrame(e.__dict__ for voyage_events in vessel_voyages_df['events'] for e in voyage_events)
vessel_events_df.tail(5)

,id,port_id,voyage_id,event_type,event_horizon,purpose,arrival_date,sailing_date,latitude,longitude,...,area_idlevel0,area_name_level0,area_idlevel1,area_name_level1,area_idlevel2,area_name_level2,area_idlevel3,area_name_level3,low_ais_density,event_details
299,None,3532,None,PortCall,Historical,Discharge,2021-03-25 03:55:58+00:00,2021-03-26 23:59:41+00:00,22.5143,69.7044,...,24764,Pakistan / West Coast India,25012,India / Pakistan,25023,India / Pakistan,84,East,None,"(VoyageEventDetail(id=None, event_id=None, eve..."
300,None,3532,None,VoyageStart,Historical,Start,NaT,NaT,22.5143,69.7044,...,24764,Pakistan / West Coast India,25012,India / Pakistan,25023,India / Pakistan,84,East,None,None
301,None,3711,None,Stop,Historical,Stop,2021-03-29 19:59:51+00:00,2021-03-30 04:58:00+00:00,24.9521,58.6659,...,24777,Arabian Gulf,2,Arabian Gulf,89,Arabian Gulf,84,East,None,"(VoyageEventDetail(id=None, event_id=None, eve..."
302,None,3778,None,PortCall,Future,Load,2021-04-03 15:46:02.040000+00:00,2021-04-08 00:00:00+00:00,26.7658,50.1478,...,24777,Arabian Gulf,2,Arabian Gulf,89,Arabian Gulf,84,East,True,None
303,None,3823,None,PortCall,Future,Discharge,2021-04-26 15:41:50.200000+00:00,2021-04-28 16:22:09.956000+00:00,23.7871,120.1687,...,24729,Taiwan,17,China / Taiwan,99,Far East,84,East,True,None

In [7]:
vessel_event_details_df = pd.DataFrame(e.__dict__ for event_details in vessel_events_df['event_details'] for e in event_details or [])
vessel_event_details_df.tail(5)

,id,event_id,event_detail_type,arrival_date,sailing_date,start_time_of_operation,end_time_of_operation,geo_asset_id,geo_asset_name,latitude,longitude,other_vessel_imo,other_vessel_name
271,None,None,Jetty,2021-02-03 07:55:41+00:00,2021-02-04 23:39:34+00:00,2021-02-03 10:57:50+00:00,2021-02-03 12:15:52+00:00,4369,FPSO Akpo,3.160565,6.831695,NaN,None
272,None,None,Stop,2021-02-06 11:35:06+00:00,2021-02-08 10:46:06+00:00,NaT,NaT,4062,Port Gentil Anchorage,-0.996812,7.547887,NaN,None
273,None,None,Jetty,2021-02-09 09:05:48+00:00,2021-02-28 23:06:13.400000+00:00,2021-02-26 15:27:11+00:00,2021-02-26 15:27:11+00:00,5352,Bonny Offshore Terminal,4.170430,7.218700,NaN,None
274,None,None,Jetty,2021-03-25 03:55:58+00:00,2021-03-26 23:59:41+00:00,2021-03-25 03:55:58+00:00,2021-03-26 23:59:41+00:00,5112,Essar Vadinar Refinery,22.514310,69.704380,NaN,None
275,None,None,Stop,2021-03-29 19:59:51+00:00,2021-03-30 04:58:00+00:00,NaT,NaT,5101,Mina Al Fahal Refinery,24.952147,58.665850,NaN,None

### Get voyages for vessel class

In [8]:
vlcc_id = 84
date_from = date.today() - timedelta(days=30)
recent_vlcc_voyages = api.get_voyages(vessel_class_id=vlcc_id, date_from=date_from)

In [9]:
recent_vlcc_voyages = pd.DataFrame([v.__dict__ for v in recent_vlcc_voyages])
recent_vlcc_voyages.tail(5)

,imo,voyage_number,vessel_type_id,vessel_class_id,vessel_status_id,commercial_operator_id,deleted,events,id,vessel_name,...,cargo_group,cargo_type_source,quantity,laycan_from,laycan_to,fixture_status_id,fixture_status,fixture_date,fixture_is_coa,fixture_is_hold
188,9878656,4,1,84,1,-1,False,"(VoyageEvent(id=None, port_id=3596, voyage_id=...",9878656.4,Shoho Maru,...,Dirty,Estimated,NaN,NaT,NaT,NaN,None,NaT,None,None
189,9878826,4,1,84,1,1713,False,"(VoyageEvent(id=None, port_id=3801, voyage_id=...",9878826.4,Babylon,...,Dirty,Estimated,NaN,NaT,NaT,NaN,None,NaT,None,None
190,9878826,5,1,84,1,1713,False,"(VoyageEvent(id=None, port_id=3801, voyage_id=...",9878826.5,Babylon,...,Dirty,Estimated,NaN,NaT,NaT,NaN,None,NaT,None,None
191,9878838,5,1,84,1,1713,False,"(VoyageEvent(id=None, port_id=3801, voyage_id=...",9878838.5,Silverstone St,...,Dirty,Estimated,NaN,NaT,NaT,NaN,None,NaT,None,None
192,9878838,6,1,84,1,1713,False,"(VoyageEvent(id=None, port_id=3801, voyage_id=...",9878838.6,Silverstone St,...,Dirty,Estimated,NaN,NaT,NaT,NaN,None,NaT,None,None

### Get voyages for vessel in flat format

In [10]:
vessel_voyages_flat = api.get_voyages_flat(imo=9292187)

In [11]:
vessel_voyages_df = pd.DataFrame(v.__dict__ for v in vessel_voyages_flat.voyages)
vessel_voyages_df.tail(5)

,imo,voyage_number,vessel_type_id,vessel_class_id,vessel_status_id,commercial_operator_id,deleted,events,id,vessel_name,...,cargo_group,cargo_type_source,quantity,laycan_from,laycan_to,fixture_status_id,fixture_status,fixture_date,fixture_is_coa,fixture_is_hold
48,9292187,49,1,84,1,1684,False,None,9292187.49,Seaking,...,Dirty,Estimated,NaN,2020-04-25 03:47:05+00:00,2020-04-26 03:47:05+00:00,1.0,FullyFixed,2020-03-19 03:42:23+00:00,False,False
49,9292187,50,1,84,1,1713,False,None,9292187.50,Seaking,...,Dirty,Estimated,NaN,2020-06-01 03:57:15+00:00,2020-06-02 03:57:15+00:00,1.0,FullyFixed,2020-05-26 17:49:57+00:00,True,True
50,9292187,51,1,84,1,1713,False,None,9292187.51,Seaking,...,Dirty,MarketInfo,270000.0,2020-10-16 00:00:00+00:00,2020-10-18 23:59:00+00:00,1.0,FullyFixed,2020-10-07 13:08:52+00:00,True,False
51,9292187,52,1,84,1,1713,False,None,9292187.52,Seaking,...,Dirty,MarketInfo,260000.0,2021-02-02 00:00:00+00:00,2021-02-02 00:00:00+00:00,1.0,FullyFixed,2021-01-12 13:45:27.563000+00:00,False,False
52,9292187,53,1,84,1,1713,False,None,9292187.53,Seaking,...,Dirty,MarketInfo,270000.0,2021-04-08 00:00:00+00:00,2021-04-08 00:00:00+00:00,1.0,FullyFixed,2021-03-23 12:57:56+00:00,False,False

In [12]:
vessel_events_df = pd.DataFrame(v.__dict__ for v in vessel_voyages_flat.events)
vessel_events_df.tail(5)

,id,port_id,voyage_id,event_type,event_horizon,purpose,arrival_date,sailing_date,latitude,longitude,...,area_idlevel0,area_name_level0,area_idlevel1,area_name_level1,area_idlevel2,area_name_level2,area_idlevel3,area_name_level3,low_ais_density,event_details
299,9292187.52.6,3532,9292187.52,PortCall,Historical,Discharge,2021-03-25 03:55:58+00:00,2021-03-26 23:59:41+00:00,22.5143,69.7044,...,None,None,None,None,None,None,None,None,None,None
300,9292187.53.0,3532,9292187.53,VoyageStart,Historical,Start,NaT,NaT,22.5143,69.7044,...,None,None,None,None,None,None,None,None,None,None
301,9292187.53.1,3711,9292187.53,Stop,Historical,Stop,2021-03-29 19:59:51+00:00,2021-03-30 04:58:00+00:00,24.9521,58.6659,...,None,None,None,None,None,None,None,None,None,None
302,9292187.53.2,3778,9292187.53,PortCall,Future,Load,2021-04-03 15:46:02.040000+00:00,2021-04-08 00:00:00+00:00,26.7658,50.1478,...,None,None,None,None,None,None,None,None,True,None
303,9292187.53.3,3823,9292187.53,PortCall,Future,Discharge,2021-04-26 15:41:50.200000+00:00,2021-04-28 16:22:09.956000+00:00,23.7871,120.1687,...,None,None,None,None,None,None,None,None,True,None

In [13]:
vessel_event_details_df = pd.DataFrame(v.__dict__ for v in vessel_voyages_flat.event_details)
vessel_event_details_df.tail(5)

,id,event_id,event_detail_type,arrival_date,sailing_date,start_time_of_operation,end_time_of_operation,geo_asset_id,geo_asset_name,latitude,longitude,other_vessel_imo,other_vessel_name
271,9292187.52.3.0,9292187.52.3,Jetty,2021-02-03 07:55:41+00:00,2021-02-04 23:39:34+00:00,2021-02-03 10:57:50+00:00,2021-02-03 12:15:52+00:00,4369,FPSO Akpo,3.160565,6.831695,NaN,None
272,9292187.52.4.0,9292187.52.4,Stop,2021-02-06 11:35:06+00:00,2021-02-08 10:46:06+00:00,NaT,NaT,4062,Port Gentil Anchorage,-0.996812,7.547887,NaN,None
273,9292187.52.5.0,9292187.52.5,Jetty,2021-02-09 09:05:48+00:00,2021-02-28 23:06:13.400000+00:00,2021-02-26 15:27:11+00:00,2021-02-26 15:27:11+00:00,5352,Bonny Offshore Terminal,4.170430,7.218700,NaN,None
274,9292187.52.6.0,9292187.52.6,Jetty,2021-03-25 03:55:58+00:00,2021-03-26 23:59:41+00:00,2021-03-25 03:55:58+00:00,2021-03-26 23:59:41+00:00,5112,Essar Vadinar Refinery,22.514310,69.704380,NaN,None
275,9292187.53.1.0,9292187.53.1,Stop,2021-03-29 19:59:51+00:00,2021-03-30 04:58:00+00:00,NaT,NaT,5101,Mina Al Fahal Refinery,24.952147,58.665850,NaN,None

In [14]:
vessel_voyages_geos_df = pd.DataFrame(v.__dict__ for v in vessel_voyages_flat.geos)
vessel_voyages_geos_df.tail(5)

,id,name,port_id,port_name,country_id,country,area_idlevel0,area_name_level0,area_idlevel1,area_name_level1,area_idlevel2,area_name_level2,area_idlevel3,area_name_level3
205,6507,Terminal Island,3857,Long Beach,240,United States,24741,US West Coast,25017,West Coast North America,25026,West Coast North America,85,Pacific America
206,6163,Vopak Terminal Europoort,3689,Rotterdam,173,Netherlands,24758,Continent,25016,UK Continent,25025,Mediterranean / UK Continent,25028,West
207,5744,Euro Tank Terminal B.v.,3689,Rotterdam,173,Netherlands,24758,Continent,25016,UK Continent,25025,Mediterranean / UK Continent,25028,West
208,6361,Aruba Lightering Zone,3214,San Nicolaas,21,Aruba,24746,Caribs,9,Caribs,25019,Atlantic America,25028,West
209,5745,Maatschap Europoort Terminal,3689,Rotterdam,173,Netherlands,24758,Continent,25016,UK Continent,25025,Mediterranean / UK Continent,25028,West

### Get voyages for vessel class in the flat format

In [15]:
vlcc_id = 84
date_from = date.today() - timedelta(days=30)
recent_vlcc_voyages_flat = api.get_voyages_flat(vessel_class_id=vlcc_id, date_from=date_from)

In [16]:
print('Voyages:', len(recent_vlcc_voyages_flat.voyages))
print('Events:', len(recent_vlcc_voyages_flat.events))
print('EventDetails:', len(recent_vlcc_voyages_flat.event_details))
print('Geos:', len(recent_vlcc_voyages_flat.geos))

Voyages: 193
Events: 801
EventDetails: 345
Geos: 187

### Get voyages for vessel incrementally

Initial requests retrieves voyages mathcing the query criteria and a query token that can be used in the subsequent request.

In [17]:
vessel_voyages, next_request_token = api.get_incremental_voyages(imo=9416642)
len(vessel_voyages)

68

Provided the token retrieved for the previous request, the subsequent request retrieves only voyages that have been updated since the previous request.

In [18]:
incremental_voyages, next_request_token = api.get_incremental_voyages(imo=9416642, incremental_token=next_request_token)
len(incremental_voyages)

0

The retrieved information is used to replace any modify voyages from the dataset. Note that returned voyages marked as deleted are only used to filter out voyages.

In [19]:
updated_voyage_ids = set(v.id for v in incremental_voyages)
vessel_voyages = [v for v in vessel_voyages if v.id not in updated_voyage_ids]
new_vessel_voyages = [v for v in incremental_voyages if not v.deleted]
vessel_voyages = sorted(vessel_voyages + new_vessel_voyages, key= lambda v: v.voyage_number)
len(vessel_voyages)

68

### Get voyages for vessel class incrementally

Voyages for vessel class are retieved and updated in the same way incrementally.

In [20]:
vessel_class_id = 84
date_from = date.today() - timedelta(days=30)

In [21]:
voyages, next_request_token = api.get_incremental_voyages(vessel_class_id=vessel_class_id, date_from=date_from)
len(voyages)

193

In [22]:
incremental_voyages, next_request_token = api.get_incremental_voyages(vessel_class_id=vessel_class_id, date_from=date_from, incremental_token=next_request_token)
len(incremental_voyages)

0

In [23]:
updated_voyage_ids = set(v.id for v in incremental_voyages)
voyages = [v for v in voyages if v.id not in updated_voyage_ids]
new_voyages = [v for v in incremental_voyages if not v.deleted]
voyages = sorted(voyages + new_voyages, key= lambda v: (v.imo, v.voyage_number))
len(voyages)

193

### Get voyages for vessel class incrementally in the flat format

Voyages may be retrieved and updated incrementally in the flat format.

In [24]:
vessel_class_id = 84
date_from = date.today() - timedelta(days=30)

In [25]:
voyages_flat, next_request_token = api.get_incremental_voyages_flat(vessel_class_id=vessel_class_id, date_from=date_from)

In [26]:
voyages = voyages_flat.voyages
events = voyages_flat.events
event_details = voyages_flat.event_details
geos = voyages_flat.geos

In [27]:
len(voyages), len(events), len(event_details), len(geos)

(193, 801, 345, 187)

In [28]:
incremental_voyages_flat, next_request_token = api.get_incremental_voyages_flat(vessel_class_id=vessel_class_id, date_from=date_from, incremental_token=next_request_token)

In [29]:
len(incremental_voyages_flat.voyages)

0

In this case the update step is applied to voyages, events, event details and geos datasets.

In [30]:
updated_voyage_ids = set(v.id for v in incremental_voyages_flat.voyages)
voyages = [v for v in voyages if v.id not in updated_voyage_ids]
new_voyages = [v for v in incremental_voyages_flat.voyages if not v.deleted]
voyages = sorted(voyages + new_voyages, key= lambda v: (v.imo, v.voyage_number))
len(voyages)

193

In [31]:
updated_event_ids = set(e.id for e in events if e.voyage_id in updated_voyage_ids)
events = [e for e in events if e.id not in updated_event_ids]
events = sorted(events + list(incremental_voyages_flat.events), key= lambda e: e.id)
len(events)

801

In [32]:
event_details = [e for e in event_details if e.id not in updated_event_ids]
event_details = sorted(event_details + list(incremental_voyages_flat.event_details), key= lambda e: e.id)
len(event_details)

345

In [33]:
updated_geo_ids = set(g.id for g in incremental_voyages_flat.geos)
geos = [g for g in geos if g.id not in updated_geo_ids] + list(incremental_voyages_flat.geos)
len(geos)

187