# Example: Persist Vessels into local DB

This example demonstrates how to persist a call to the VesselsAPI() into a local database for later usage.

In [1]:
!pip install signal-ocean

Requirement already satisfied: signal-ocean in c:\users\m.logothetis\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: pandas<2,>=1.0.3 in c:\users\m.logothetis\anaconda3\lib\site-packages (from signal-ocean) (1.1.3)
Requirement already satisfied: requests<3,>=2.23.0 in c:\users\m.logothetis\anaconda3\lib\site-packages (from signal-ocean) (2.24.0)
Requirement already satisfied: python-dateutil<3,>=2.8.1 in c:\users\m.logothetis\anaconda3\lib\site-packages (from signal-ocean) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\m.logothetis\anaconda3\lib\site-packages (from pandas<2,>=1.0.3->signal-ocean) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\m.logothetis\anaconda3\lib\site-packages (from pandas<2,>=1.0.3->signal-ocean) (2020.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\m.logothetis\anaconda3\lib\site-packages (from requests<3,>=2.23.0->signal-ocean) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\m.logothetis\anaconda3\lib\site-packages (from requests<3,>=2.23.0->signal-ocean) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\m.logothetis\anaconda3\lib\site-packages (from requests<3,>=2.23.0->signal-ocean) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\m.logothetis\anaconda3\lib\site-packages (from requests<3,>=2.23.0->signal-ocean) (1.25.11)
Requirement already satisfied: six>=1.5 in c:\users\m.logothetis\anaconda3\lib\site-packages (from python-dateutil<3,>=2.8.1->signal-ocean) (1.15.0)

In [2]:
signal_ocean_api_key = '' #replace with your subscription key

In [5]:
from signal_ocean import Connection
from signal_ocean.vessels import VesselsAPI
from sqlalchemy import create_engine
import pandas as pd
import sqlite3
import os

#### Establish connection to API and get all vessels

In [7]:
connection = Connection(signal_ocean_api_key)
vessels_api = VesselsAPI(connection)

vessels = vessels_api.get_vessels()
vessels_df = pd.DataFrame([v.__dict__ for v in vessels])

vessels_df.head(5)

,imo,vessel_type_id,built_for_trade_id,trade_id,vessel_class_id,commercial_operator_id,deadweight,breadth_extreme,gross_rated_tonnage,reduced_gross_tonnage,...,cubic_size,scrubbers_date,summer_tpc,lightship_tonnes,main_engine_manufacturer,delivery_date,classification_register,number_of_holds,grain_capacity,bale_capacity
0,-2,-2,-2,-2,-2,-2,0,0,0,0,...,NaN,NaT,NaN,NaN,NotSet,NaT,Not set,NaN,NaN,NaN
1,-1,-1,-1,-1,-1,-1,0,0,0,0,...,NaN,NaT,NaN,NaN,NotSet,NaT,Not set,NaN,NaN,NaN
2,2228228,3,-2,-1,77,-1,20420,22,12827,16169,...,NaN,NaT,NaN,4919.0,NotSet,1985-07-01 00:00:00+00:00,Not set,NaN,NaN,NaN
3,5000172,1,-1,-1,90,-1,269,7,202,3133,...,286.0,NaT,NaN,103.0,NotSet,1961-07-01 00:00:00+00:00,Not set,NaN,NaN,NaN
4,5000201,1,-1,-1,90,-1,590,11,693,3133,...,NaN,NaT,NaN,226.0,NotSet,1961-07-01 00:00:00+00:00,Not set,NaN,NaN,NaN

#### Create SQLite database

In [8]:
db_name = ('AllVessels.db')
db_conn = sqlite3.connect(db_name)

#### Create "Vessels" table and append data to it

In [9]:
engine = create_engine(f'sqlite:///{os.path.join(os.path.abspath(os.getcwd()), db_name)}')

vessels_df.to_sql('Vessels', engine, index=True, if_exists="replace")

db_conn.close()