# Example: Persist Vessels into local DB

This example demonstrates how to persist a call to the VesselsAPI() into a local database for later usage.

In [ ]:
!pip install signal-ocean

In [1]:
signal_ocean_api_key = '9b91b6f5f26848c89e4b37f6e31c7a80' #replace with your subscription key

In [2]:
from signal_ocean import Connection
from signal_ocean.vessels import VesselsAPI
from sqlalchemy import create_engine
import pandas as pd
import sqlite3
import os

#### Establish connection to API and get all vessels

In [3]:
connection = Connection(signal_ocean_api_key)
vessels_api = VesselsAPI(connection)

vessels = vessels_api.get_vessels()
vessels_df = pd.DataFrame([v.__dict__ for v in vessels])

vessels_df.head(5)

,imo,vessel_type_id,built_for_trade_id,trade_id,vessel_class_id,commercial_operator_id,deadweight,breadth_extreme,gross_rated_tonnage,reduced_gross_tonnage,...,cubic_size,scrubbers_date,summer_tpc,lightship_tonnes,main_engine_manufacturer,delivery_date,classification_register,number_of_holds,grain_capacity,bale_capacity
0,-2,-2,-2,-2,-2,-2,0,0,0,0,...,NaN,NaT,NaN,NaN,NotSet,NaT,Not set,NaN,NaN,NaN
1,-1,-1,-1,-1,-1,-1,0,0,0,0,...,NaN,NaT,NaN,NaN,NotSet,NaT,Not set,NaN,NaN,NaN
2,2228228,3,-2,-1,77,-1,20420,22,12827,16169,...,NaN,NaT,NaN,4919.0,NotSet,1985-07-01 00:00:00+00:00,Not set,NaN,NaN,NaN
3,5000172,1,-1,-1,90,-1,269,7,202,3133,...,286.0,NaT,NaN,103.0,NotSet,1961-07-01 00:00:00+00:00,Not set,NaN,NaN,NaN
4,5000201,1,-1,-1,90,-1,590,11,693,3133,...,NaN,NaT,NaN,226.0,NotSet,1961-07-01 00:00:00+00:00,Not set,NaN,NaN,NaN

#### Create SQLite database

In [4]:
db_name = ('AllVessels.db')
db_conn = sqlite3.connect(db_name)

#### Create "Vessels" table and append data to it

In [5]:
engine = create_engine(f'sqlite:///{os.path.join(os.path.abspath(os.getcwd()), db_name)}')

vessels_df.to_sql('Vessels', engine, index=True, if_exists="replace")

db_conn.close()